#main-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    color: white;
    box-sizing: border-box;
    padding: 40px;
    background-color: #424242;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    gap: 32px;
  }
  
  .create-issue-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }
  
  
  .create-issue-title {
    border-radius: 8px;
    height: 36px;
    border: none;
    box-sizing: border-box;
    padding: 10px;

  }

  .create-issue-description {
    height: 200px;
    border-radius: 8px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
  }

  .create-issue-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
  }
  
  .create-issue-btn {
    box-sizing: border-box;
    padding: 8px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}