<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <main class="main-index">
        
        <div class="login-container">
            <div class="login-header">
                <img class="login-header-logo" src="/images/gitlab-logo-144.png" alt="Gitlab Logo">
                <h2 class="login-header-text">Gitlab Issue Manager</h2>
            </div>
            
            <a class="base-btn login-btn" href="/gitlab">Login</a>

        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</body>
</html>