<nav class="header">
    <div class="header-left">
        <a href="/issues" class="header-anchor">Explorer</a> 
        <!-- <a href="" class="header-anchor">Expanded</a> -->
        <a href="/issues/create" class="header-anchor">Create</a>
    </div>
    
    <div class="header-right">
        <form action="/logout" method="post">
            <button type="submit" class="base-btn header-logout-btn">Log out </button>
        </form>
    </div>
    
</nav>