<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1DV528: B3 Production Server</title>
<link rel="stylesheet" href="/css/global.css">

<% if (css) { %>
    <link rel="stylesheet" href="<%= css %>">
<% } %>